<!DOCTYPE html>
<html {{site.language_attributes}}>

<head>
  
  <meta charset="{{site.charset|e('html_attr')}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
  
  <!-- Contenders: Raleway
  Default: Poppins -->
  
  {{ function('wp_head') }}
  
  <style>
    html {
      /* font-family: 'Poppins', sans-serif; */
      font-family: 'Merriweather', serif;
    }
    .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge,
    h1, h2, h3, h4, h5, h6,
    .oswald, .uk-badge {
      /* font-family: 'Poppins', sans-serif; */
      font-family: 'Merriweather', serif;
      font-weight: 700;
    }
    .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
      /* font-family: 'Poppins', sans-serif; */
      font-family: 'Merriweather', serif;
    }
    #TertiaryHeader .uk-navbar-item, #TertiaryHeader .uk-navbar-nav>li>a, #TertiaryHeader .uk-navbar-toggle {
      /* font-family: 'Poppins', sans-serif; */
      font-family: 'Merriweather', serif;
    }
    .text-logo-link:hover {
      text-decoration: none;
    }
    h1, .text-logo {
      letter-spacing: -2px;
    }
    .uk-overlay-primary {
      background: rgb(51 83 101 / 84%);
    }
    .bg-cover {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    blockquote {
      color: #333;
      font-size: 1rem;
      font-style: normal;
      line-height: 1.8;
      margin: 0 0 20px;
    }
    #FooterMain {
      border-top: 4px solid #4caf6a;
    }
  </style>
  
  {% block styles %}
  {% endblock %}
  
</head>

  {% block body %}
    <body class="{{body_class|e('html_attr')}} no-overflow" data-template="base.twig">
      
      {% block theme_preload_html %}
        <div id="ThemePreload" class="theme-preload"></div>
      {% endblock %}
      
      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}
      
      <main id="Main" role="main">
        
        <section id="ContentSection" class="content-section">
          
          {% block article %}
            <article class="uk-article">
              <p>{{ __('Sorry, nothing to display here...', 'shiny-octo-journey') }}</p>
            </article>
          {% endblock %}
          
        </section>
        
        {% block above_footer %}
          {% if above_footer_text %}
            <aside class="above-footer-text uk-section uk-background-muted theme-border-top" hidden>
              <div class="uk-container uk-container-large uk-text-center">
                <p class="uk-margin-remove-bottom">{{above_footer_text|e('esc_html')}}</p>
              </div>
            </aside>
          {% endif %}
        {% endblock %}
        
      </main>
      
      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
      
      {% block shop_fixed_nav %}
        {% include 'shop-fixed-nav.twig' %} 
      {% endblock %}
      
      {{ function('wp_footer') }}
      
      {% block scripts %}
      {% endblock %}
      
      {% block theme_preload_js %}
        <script>
          // website preloader animation
          window.onload = function(){
            document.getElementById("ThemePreload").classList.add("hidden");
            document.getElementsByTagName("BODY")[0].classList.remove("no-overflow");
          }
        </script>
      {% endblock %}
      
    </body>
  {% endblock %}

</html>