{% extends "base.twig" %}

{% block styles %}
  <!-- load in swiper-js css -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/front.css" />
{% endblock %}

{% block article %}

<article id="post-{{post.id|e('html_attr')}}" class="uk-article {{post.class|e('html_attr')}}" data-template="front.twig">
  
  <div id="slideshow_banner" class="swiper-container">
    <div class="swiper-wrapper">
      
      {% for slide in home_slides %}
        <div class="swiper-slide">
          <a id="slide-banner-{{slide.slug|e('html_attr')}}" class="slide-banner-link" href="{{slide.banner_link|e('esc_url')|default('#')}}">
            <picture>
              <source media="(min-width: 1px) and (max-width: 479px)" srcset="{{ Image(slide.meta('mobile_banner')).src|e('esc_url')|default(slide.thumbnail.src|e('esc_url')|resize(480)) }}">
              <source media="(min-width: 480px) and (max-width: 767px)" srcset="{{ slide.thumbnail.src|e('esc_url')|resize(768) }}">
              <source media="(min-width: 768px) and (max-width: 959px)" srcset="{{ slide.thumbnail.src|e('esc_url')|resize(960) }}">
              <source media="(min-width: 960px) and (max-width: 1199px)" srcset="{{ slide.thumbnail.src|e('esc_url')|resize(1200) }}">
              <source media="(min-width: 1200px)" srcset="{{ slide.thumbnail.src|e('esc_url')|resize(1920) }}">
              <img src="{{ slide.thumbnail.src|e('esc_url') }}" alt="{{ slide.thumbnail.alt|e('html_attr') }}">
            </picture>
          </a>
        </div>
      {% endfor %}
      
      {% if home_slides is empty %}
        <div class="swiper-slide">
          <picture class="uk-overlay-default">
            <source media="(min-width: 1px) and (max-width: 479px)" srcset="https://picsum.photos/480/480?random=1">
            <source media="(min-width: 480px) and (max-width: 767px)" srcset="https://picsum.photos/768/500?random=1">
            <source media="(min-width: 768px) and (max-width: 959px)" srcset="https://picsum.photos/960/650?random=1">
            <source media="(min-width: 960px) and (max-width: 1199px)" srcset="https://picsum.photos/1200/800?random=1">
            <source media="(min-width: 1200px)" srcset="https://picsum.photos/1920/400?random=1">
            <img src="https://picsum.photos/1920/400?random=1" alt="Some alt...">
          </picture>
        </div>
      {% endif %}

    </div>
    {% if home_slides|length > 1 %}
      <div class="swiper-pagination"></div>
    {% endif %}
  </div>
  
  <div class="home-featured uk-section uk-section-small uk-container uk-container-large">
    
    <h2 class="uk-text-center uk-h2"><span>Featured Products</span></h2>
    
    <hr class="uk-divider-small uk-text-center">
    
    <div class="uk-grid-small uk-child-width-1-5@m" uk-grid>
      {% for post in featured_products %}
        {% include 'tease-product.twig' %}
      {% endfor %}
    </div>
    
  </div>
  
</article>

{% endblock %}

{% block scripts %}
  <!-- load in swiper-js js -->
  <script src="{{theme.link|e('esc_url')}}/assets/js/lib/swiper-bundle.min.js"></script>
  <script src="{{theme.link|e('esc_url')}}/assets/js/front.js"></script>
{% endblock %}